body{
    height: 100%;
    width: 100%;
}
table{
    height: 100%;
    width: 100%;
}
video{
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    object-fit:fill;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index:-11
}
.back-discolor2{
    background-color:rgba(255,255,255,0.2);
}
.back-discolor1{
    background-color:rgba(255,255,255,0.1);
}
.back-discolor4{
    background-color:rgba(255,255,255,0.4);
}
.back-discolor5{
    background-color:rgba(255,255,255,0.5);
}
.back-discolor8{
    background-color:rgba(255,255,255,0.8);
}
.text-scroll{
    overflow-x:hidden;overflow-y:auto;
}