body{
    height: 100%;
    width: 100%;
}
table{
    height: 100%;
    width: 100%;
}
video{
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    object-fit:fill;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index:-11
}
.back-discolor{
    background-color:rgba(0,0,0,0);
}
.back-halfcolor{
    opacity: 0.7;
}
.text-scroll{
    overflow-x:hidden;overflow-y:auto;
}